.activityChart {
  background-color: #fbfbfb;
  height: 340px;
  position: relative;
}

.toolTip {
  height: 100%;
  background-color: #e60000;
  color: white;
  padding: 10px;
  outline: none;
}

.chartTitle {
  font-size: 15px;
  margin: 0;
}

.title-legend {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 91%;
}

.legend {
  display: flex;
  width: 320px;
  column-gap: 50px;
}
.legend p {
  margin: 0;
}

.legendContainer {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.fa-solid {
  font-size: 8px;
}

/* <div className="title-Legend">
        <h2 className="chartTitle">Activité quotidienne</h2>
        <div className="Legend">
          <p className="legendePoids">Poids (kg)</p>
          <p className="legendCalories">Calories brûlées (kCal)</p>
        </div>
      </div> */
