.bonjour {
  margin: 20px 0 0 15vw;
}

.bonjour h1 {
  font-size: 48px;
  margin: 0;
}

.bonjour strong {
  color: #ff0101;
}

.bonjour p {
  font-size: 18px;
}

.dashboardData {
  display: flex;
  width: 70%;
  margin: 0 0 0 15vw;
  column-gap: 50px;
  align-items: flex-start;
}

.dashboardChart {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5px;
  row-gap: 20px;
}

.erreurAPI {
  margin-top: 10px;
  margin-left: 200px;
}
.erreurAPI button {
  margin-left: 10px;
}
