.bonjour {
  width: 85%;
  margin: 20px 250px;
}

.bonjour h1 {
  font-size: 48px;
  margin: 0;
}

.bonjour strong {
  color: #ff0101;
}

.bonjour p {
  font-size: 18px;
}

.dashboardData {
  display: flex;
  margin: 20px 0 20px 250px;
  align-items: flex-start;
}


