.bonjour {
  width: 80%;
  margin: 20px 250px;
}

.bonjour h1 {
  font-size: 48px;
  margin: 0;
}

.bonjour strong {
  color: #ff0101;
}

.bonjour p {
  font-size: 18px;
}

.dashboardData {
  display: flex;
  margin: 20px 0 20px 250px;
  align-items: flex-start;
}

.dashboardChart {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
}
