footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 7vw;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.picture {
  width: 5vw;
  margin: 200px 1vw 0;
}

.picture img {
  width: 100%;
  margin: 10px 0;
}

footer .copyright {
  writing-mode: vertical-rl;
  transform: rotateZ(-180deg);
  color: white;
  font-size: 12px;
  margin: 72px 0 0 40%;
}
