.scoreChart {
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 32%;
  height: 16vw;
  position: relative;
}

.scoreChart h2 {
  position: absolute;
  top: 1vw;
  left: 1vw;
  z-index: 1;
  font-size: 12px;
  margin: 0;
}

.scoreLegend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  font-size: 16px;
  color: #74798c;
}
.scoreLegend strong {
  color: #282d30;
}
